.clearfix::after{
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

p{
	color: #606161;
}

p.first::first-letter {
    font-size: 200%;
    color: #606161;
    font-weight: 600;
}

body{
	font-family: "Open Sans", sans;
	background-color:#f0efef;
}

header{
	background-color: #033048;
	/*padding-top: 1px;*/
}

footer{
	background-color: black;
	color: white;
}

h1{
	color: white;
	font-weight: 800;
	font-size: 48px;
	float: left;
	margin: 3% 30% 3% 10%;
}

nav{
	float:left;
	padding-top: 4%;
}

nav a{
	font-family: "Open sans";
	font-size: 24px;
	color:#f9e42e;
	text-decoration: none;
	margin: 13px;
}

section{
	width: 700px;
	float: left;
}

aside{
	width: 240px;
	float:left;
}

h2, h3{
	color: #033048;
}

h3{
	font-size:24px;
	font-weight: bold;
}

h2{
	font-size: 40px;
	font-weight: 600;
}

h4{
	width: 50%;
	font-size: 48px;
	font-weight: 800;
	margin:0 auto;
	text-align: center;
	padding:30px 0 20px;
}

/*main{
	width: 960px;
	margin:0 auto;
}
*/

div div{
	width: 30%;
	margin:auto;
}

div.container{
	width: 960px;
	margin:0 auto;
}

button{
	width: 100%;
	height:50px;
	margin: 25px auto;
	font-size: 20px;
	font-weight:600;
	background-color: #033048;
	color: white;
	border-radius: 5px;
}

div.button{
	width: 100%;
	height: 100px;
	background-color: #f9e42e;
}

a{
	text-decoration: none;
	font-size: 20px;
}

a.readmore{

	margin:5px 0 0 80%;
}

article p{
	font-size:24px;
	font-weight: 300;
}

ul{
	padding-left: 0;
}

li{
	margin:10px 0;
}

li a{
	font-size: 20px;
	color:#606161;
}

footer div{
	width: 15%;
	margin: 10px auto 30px;
	text-align: center;
}

blockquote{
	font-weight: 600;
	font-style: italic;
}

section div{
	width: 50%;
	margin:auto;
}

span{
	display: block;
	text-align: center;
	padding-bottom: 50px;
}

section.quote{
	margin-top: 5%;
	padding-top: 20px;
	width: 100%;
	color: white;
	background-image: url("../images/testimonial_bg.jpg");
	height: 200px;
	font-size: 24px;
	text-align: center;
	background-size: cover;
}

div.button{
	clear:both;
}

img.ad{
	margin-top: 20px;
}

img.socialMedia{
	padding:0 10px 0 10px;
}

section.left{
	margin-right: 10px;
}

aside.right{
	margin-left: 10px;
}

.blogphoto{
	width:700px;
}










